# Flask
FLASK_ENV=development
SECRET_KEY=your-very-secret-key-change-this

# MySQL Database
DATABASE_URL=mysql+pymysql://root:mian12haroon@localhost/hr_system

# JWT
JWT_SECRET_KEY=your-jwt-secret-key-change-this

# Mail (SMTP / SendGrid SMTP Relay)
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=true
MAIL_USERNAME=haroonnoor036@gmail.com
MAIL_PASSWORD=eaoj mhpq yqra prxp
MAIL_DEFAULT_SENDER=HR System <haroonnoor036@gmail.com>

# Frontend URL (used in reset-password email link)
FRONTEND_URL=http://localhost:5173

# Reset token lifetime (minutes)
RESET_TOKEN_EXPIRES=30
